LaFinanciera/Connected Services/ServicioPublicoOnline/ServicioPublicoCredito1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ISTP1.Service.Contracts.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ISTP1.Service.Contracts.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ISTP1.Service.Contracts.Service/Imports">
      <xsd:import schemaLocation="http://ds.dyndns.org:9000/ServicioPublicoCredito?xsd=xsd0" namespace="http://ISTP1.Service.Contracts.Service" />
      <xsd:import schemaLocation="http://ds.dyndns.org:9000/ServicioPublicoCredito?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Faults" />
      <xsd:import schemaLocation="http://ds.dyndns.org:9000/ServicioPublicoCredito?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ds.dyndns.org:9000/ServicioPublicoCredito?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPublicoCredito_ObtenerEstadoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_ObtenerEstadoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_ObtenerEstadoCliente_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Faults" name="detail" element="q1:ErrorServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoOtorgado_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarCreditoOtorgado" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoOtorgado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarCreditoOtorgadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoOtorgado_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Faults" name="detail" element="q2:ErrorServicio" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoFinalizado_InputMessage">
    <wsdl:part name="parameters" element="tns:InformarCreditoFinalizado" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoFinalizado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformarCreditoFinalizadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPublicoCredito_InformarCreditoFinalizado_ErrorServicioFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Faults" name="detail" element="q3:ErrorServicio" />
  </wsdl:message>
  <wsdl:portType name="IServicioPublicoCredito">
    <wsdl:operation name="ObtenerEstadoCliente">
      <wsdl:input wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/ObtenerEstadoCliente" message="tns:IServicioPublicoCredito_ObtenerEstadoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/ObtenerEstadoClienteResponse" message="tns:IServicioPublicoCredito_ObtenerEstadoCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/ObtenerEstadoClienteErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioPublicoCredito_ObtenerEstadoCliente_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarCreditoOtorgado">
      <wsdl:input wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoOtorgado" message="tns:IServicioPublicoCredito_InformarCreditoOtorgado_InputMessage" />
      <wsdl:output wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoOtorgadoResponse" message="tns:IServicioPublicoCredito_InformarCreditoOtorgado_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoOtorgadoErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioPublicoCredito_InformarCreditoOtorgado_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformarCreditoFinalizado">
      <wsdl:input wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoFinalizado" message="tns:IServicioPublicoCredito_InformarCreditoFinalizado_InputMessage" />
      <wsdl:output wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoFinalizadoResponse" message="tns:IServicioPublicoCredito_InformarCreditoFinalizado_OutputMessage" />
      <wsdl:fault wsaw:Action="http://ISTP1.Service.Contracts.Service/IServicioPublicoCredito/InformarCreditoFinalizadoErrorServicioFault" name="ErrorServicioFault" message="tns:IServicioPublicoCredito_InformarCreditoFinalizado_ErrorServicioFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>