LaFinanciera/Connected Services/ServicioPublicoOnline/ServicioPublicoCredito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISTP1.Service.Contracts.Service" elementFormDefault="qualified" targetNamespace="http://ISTP1.Service.Contracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ds.dyndns.org:9000/ServicioPublicoCredito?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" />
  <xs:element name="ObtenerEstadoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoFinanciera" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" minOccurs="0" name="ObtenerEstadoClienteResult" nillable="true" type="q1:ResultadoEstadoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCreditoOtorgado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoFinanciera" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" type="xs:int" />
        <xs:element minOccurs="0" name="identificadorCredito" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="montoOtorgado" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCreditoOtorgadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" minOccurs="0" name="InformarCreditoOtorgadoResult" nillable="true" type="q2:ResultadoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCreditoFinalizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoFinanciera" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" type="xs:int" />
        <xs:element minOccurs="0" name="identificadorCredito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InformarCreditoFinalizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" minOccurs="0" name="InformarCreditoFinalizadoResult" nillable="true" type="q3:ResultadoOperacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>