LaFinanciera/Connected Services/ServicioPublicoOnline/ServicioPublicoCredito2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoEstadoCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadCreditosActivos" type="xs:int" />
      <xs:element minOccurs="0" name="ConsultaValida" type="xs:boolean" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TieneDeudas" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoEstadoCliente" nillable="true" type="tns:ResultadoEstadoCliente" />
  <xs:complexType name="ResultadoOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperacionValida" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoOperacion" nillable="true" type="tns:ResultadoOperacion" />
</xs:schema>